.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer{
  margin: 80px;
}

.buttonContainer{
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
